<h1>Contact Book Web</h1>

<div>
<a href = "/home">Home</a>
</div>

<div>
<a href="/create_contact_form">Add a contact</a>
</div>

<div>
<a href="/about">About</a>
</div>

<div>
    There are <%= Contact.count %> contacts.
</div>

<ul>

<% @contacts.each do |contact| %>
    <li class="name_email_text"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</li>
    <li class="note_text"><%= contact.note %></li>
    <li><a href="/update_contact/<%= contact.id %>">Edit</a> | <a href="/delete_contact/<%= contact.id %>">Delete</a></li>
<% end %>

</ul