<div class="contact_count">
    There are <b><%= Contact.count %></b> contacts.
</div>

<ul>

<% @contacts.each do |contact| %>
    <li class="name_email_text"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)<br>
    <!-- <li class="note_text"><%= contact.note %></li> -->
    <a href="/update_contact/<%= contact.id %>">Edit</a> | <a href="/delete_contact/<%= contact.id %>">Delete</a></li>
<% end %>

</ul